@media (min-width: 1500px) {
.container {
    max-width: 1450px;
}
}

@media (min-width: 1700px) {
    .container {
        max-width: 1650px;
    }
    }

.center {
    text-align: center;
  }

.Select-control {
    height: 58px;
}

.Select-value{
    margin-top: 5px;
    margin-bottom: 5px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}
.menu {
    display: grid;
    justify-content: center;
    padding-top: 24px;
    text-align: center;
}
.menu-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
.small-text{
    font-size: small;
    margin-bottom: 5px;
    text-align: right;
}
.error{
    color: red;
}