@media (min-width: 1500px) {
.container {
    max-width: 1450px;
}
}

@media (min-width: 1700px) {
    .container {
        max-width: 1650px;
    }
}

.center {
    text-align: center;
  }

.Select-control {
    height: 58px;
}

.Select-value{
    margin-top: 5px;
    margin-bottom: 5px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}
.menu {
    display: grid;
    justify-content: center;
    padding-top: 24px;
    text-align: center;
}
.menu-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
.small-text{
    font-size: small;
    margin-bottom: 5px;
    text-align: right;
}
.error{
    color: red;
}
.success{
    color: green;
}

.print{
    display: none;
}

.grid-display{
    display: grid;
    grid-template-columns: 50% 50%;
}

@media print
{
    .container{
        max-width: none;
        padding-right: 1em;
        padding-left: 1em;
    }
    :root {
        --block-spacing-vertical: calc(var(--spacing) / 2) !important;
        --block-spacing-horizontal: calc(var(--spacing) / 2) !important;
    }

    button, .no-print, .no-print *
    {
        display: none !important;
    }

    .pagebreak { page-break-before: always; }

    .print{
        display: block;
    }

    .inline{
        display: flex;
        justify-content: space-around;
    }

    @page { size: auto;  margin: 5mm 10mm 5mm 10mm; }


}

.hide{
    display: none;
}

._dash-loading-callback{  
    background-color: #ffffff22;
}
